:root {
  /* Темная тема (по умолчанию) */
  --bg-color: #000;
  --text-color: #fff;
  --accent-color: #fff;
  --secondary-bg: #1a1a1a;
  --border-color: #fff;
}

:root.light-theme {
  /* Светлая тема */
  --bg-color: #fff;
  --text-color: #000;
  --accent-color: #0067ff;
  --secondary-bg: #f5f5f5;
  --border-color: #0067ff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

